/*==========HOME==========*/
.home {
    width: 100%;
    height: 100vh;
    position: relative;
    text-align: left;
    &__title {
        width: 80%;
       
        display: flex;
        align-items: center;
        justify-content: center;
        
        h1 {
            font-size: 3rem;
            font-weight: 800;
            line-height: 4rem;
            margin-bottom: 16px;
           font-family: var(--header-font);
           
        }

       
        p{
            font-size: 2rem;
            margin-bottom: 2rem;
            margin-top: 2rem;
           
            color: rgba(0, 0, 0, 0.781);
            font-weight: 300;
        }

    }
}
#image{
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    
}
.text-gray {
    font-size: 1.3rem;
    color: color(gray);
    font-family: var(--header-font);
}
#about{
    width: 100%;
    height: 60vh;
    background: #FBFBFB;
    display: flex;
    align-items: center;
    justify-content: center;
    .container{
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 2rem;
        p{
            font-size: 2rem;
            width: 60%;
            line-height: 3.3rem;
            font-weight: 600;
            word-spacing: .2rem;
        }
        a{
            color: #fff;
            background: black;
        }
      
    }
}
