<footer class="footer">
    <div class="container footer__container">
        <div class="footer__top">
            <span>Are you ready?</span>
            <div class="title">Let's start</div>
        </div>
        <div class="footer__center">
            <ul class="footer-list">
                <li class="email">
                    <a href="mailto:neotet.co@gmail.com">neotet.co@gmail.com</a>
                </li>
                <li class="quote">
                    <a href="#">Get a quote</a>
                </li>
                <li class="place">
                    <p>Ruse, Ruse, Bulgaria 7000</p>
                </li>
            </ul>
        </div>
        <div class="footer__socials">
            <ul class="socials">
                <li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-behance"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-dribbble"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
            </ul>
        </div>
    </div>
</footer>