<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/styles/style.css">
    <title>Document</title>
</head>

<body>
    <header class="header">
        <div class="container header__container flex">
            <a href="../index.html" class="header__logo flex">
                <img src="../assets/images/logo/neotet-logo.png" alt="neotet/logo" id="logo">
                <span>NEOTET</span>
            </a>
            <ul class="header__menu flex">
                <li><a href="#">Services <span><img src="./assets/images/green-brush.png" alt=""></span></a></li>
                <li><a href="#">Projects <span><img src="./assets/images/red-brush.png" alt=""></span></a></li>
                <li><a href="#">Process <span><img src="./assets/images/yellow-brush.png" alt=""></span></a></li>
                <li><a href="#">About us <span><img src="./assets/images/yellow-brush.png" alt=""></span></a></li>
            </ul>
            <button class="btn header__button">Contact Us</button>
        </div>

    </header>
</body>

</html>